.rotulo{
    width:900px;
    margin: 20px auto;
    padding: 10px;
    text-align: center;
    background: #616A6B;
    font: bold 26px Arial;
    color: white;
    border: 5px solid black;
    border-radius: 20px;
}

#cajapadre {
    width: 850px;
    height: 2580px;
    margin: 20px auto;
    padding: 10px;
    border: 5px solid grey;
    background: black;
}

#Lineado-1 {
    float: left;
    width: 380px;
    height: 330px;
    margin: 10px;
    border: 10px solid #CB4335;
}

#Fernando_Alonso_y_Lance_Stroll {
    float: left;
    width: 380px;
    height: 330px;
    margin: auto;
    background-color: #145A32;
    background-image: url(../Imagenes/AM.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#Lineado_desc1 {
    float: right;
    width: 380px;
    height: 330px;
    margin: 10px;
    border: 10px solid #CB4335;
}

#desc-1 {
    float: right;
    width: 380px;
    height: 330px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    overflow-y: scroll;
    color: white;
}

#Lineado-2 {
    float: right;
    width: 380px;
    height: 330px;
    margin: 10px;
    border: 10px solid #CB4335;
}

#Esteban_Ocon_y_Pierre_Gasly {
    float: right;
    width: 380px;
    height: 330px;
    margin: auto;
    background-color: #145A32;
    background-image: url(../Imagenes/AL.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#Lineado_desc2 {
    float: left;
    width: 380px;
    height: 330px;
    margin: 10px;
    border: 10px solid #CB4335;
}

#desc-2 {
    float: left;
    width: 380px;
    height: 330px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    overflow-y: scroll;
    color: white;
}

#Lineado-3 {
    float: left;
    width: 380px;
    height: 330px;
    margin: 10px;
    border: 10px solid #CB4335;
}

#Valtteri_Bottas_y_Zhou_Guanyu {
    float: left;
    width: 380px;
    height: 330px;
    margin: auto;
    background-color: #145A32;
    background-image: url(../Imagenes/AR.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#Lineado_desc3 {
    float: right;
    width: 380px;
    height: 330px;
    margin: 10px;
    border: 10px solid #CB4335;
}

#desc-3 {
    float: right;
    width: 380px;
    height: 330px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    overflow-y: scroll;
    color: white;
}

#Lineado-4 {
    float: right;
    width: 380px;
    height: 330px;
    margin: 10px;
    border: 10px solid #CB4335;
}

#Yuki_Tsunoda_y_Nyck_De_Vries {
    float: right;
    width: 380px;
    height: 330px;
    margin: auto;
    background-color: #145A32;
    background-image: url(../Imagenes/AT.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#Lineado_desc4 {
    float: left;
    width: 380px;
    height: 330px;
    margin: 10px;
    border: 10px solid #CB4335;
}

#desc-4 {
    float: left;
    width: 380px;
    height: 330px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    overflow-y: scroll;
    color: white;
}

#Lineado-5 {
    float: left;
    width: 380px;
    height: 330px;
    margin: 10px;
    border: 10px solid #CB4335;
}

#Charles_Leclerc_y_Carlos_Sainz {
    float: left;
    width: 380px;
    height: 330px;
    margin: auto;
    background-color: #145A32;
    background-image: url(../Imagenes/FR.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#Lineado-6 {
    float: right;
    width: 380px;
    height: 330px;
    margin: 10px;
    border: 10px solid #CB4335;
}

#Kevin_Magnussen_y_Nico_Hulkenberg {
    float: right;
    width: 380px;
    height: 330px;
    margin: auto;
    background-color: #145A32;
    background-image: url(../Imagenes/HAS.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#Lineado-7 {
    float: left;
    width: 380px;
    height: 330px;
    margin: 10px;
    border: 10px solid #CB4335;
}

#Lando_Norris_y_Oscar_Piastri {
    float: left;
    width: 380px;
    height: 330px;
    margin: auto;
    background-color: #145A32;
    background-image: url(../Imagenes/MCL.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#Lineado-8 {
    float: right;
    width: 380px;
    height: 330px;
    margin: 10px;
    border: 10px solid #CB4335;
}

#Lewis_Hamilton_y_George_Russell {
    float: right;
    width: 380px;
    height: 330px;
    margin: auto;
    background-color: #145A32;
    background-image: url(../Imagenes/MER.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#Lineado-9 {
    float: left;
    width: 380px;
    height: 330px;
    margin: 10px;
    border: 10px solid #CB4335;
}

#Max_Verstappen_y_Sergio_Perez {
    float: left;
    width: 380px;
    height: 330px;
    margin: auto;
    background-color: #145A32;
    background-image: url(../Imagenes/RB.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#Lineado-10 {
    float: right;
    width: 380px;
    height: 330px;
    margin: 10px;
    border: 10px solid #CB4335;
}

#Alex_Albon_y_Logan_Sargeant {
    float: right;
    width: 380px;
    height: 330px;
    margin: auto;
    background-color: #145A32;
    background-image: url(../Imagenes/WIL.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}