#uno {
    font-size: 24px;
    color:#ff0000;
    }

#dos a:link {
    text-decoration: none;
    color:#ff0000;
}

#dos a:visited {
    text-decoration: none;
    color: aqua;
}

#dos a:hover {
    text-decoration: none;
    color: #800000;
}