#capitulo {
    font: 48px Impact;
    color: #000000;
    text-align: center;
    width: 750px;
    margin: 60px auto;
    padding: 25px;
    background-color: #c0c0c0;
}

#texto {
    font: bold 20px Arial;
    color:#000080;
    text-align:justify;
    width:650px;
    margin:10px auto;
    background-color:#ddddff;
}

body { background-image: url(https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvcm00MjItMDczLWt6cGhnMjR1LmpwZw.jpg);}
    #texto {
        font: 20px Arial;
        color: #000080;
        text-align: justify;
        width: 650px;
        margin: 10px auto;
        padding: 10px 10px 10px 10px;
        border-style: solid;
        background-color: #ffffff;
        box-shadow: #808080 10px 10px;
        background-image: url(https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvcm0zODAtMDIuanBn.jpg);
    }

#capitulo {
    font: bold 48px Arial, Helvetica;
    color:#000080;
    text-align:center;
    width:750px;
    margin: 60px auto;
    padding: 25px;
    background-color: #bbbbff;
    border-style: dashed;
    border-radius: 20px 10px 50px 80px;
    border-width: 4px;
    box-shadow: #808080 10px 10px 5px inset;
    border-color:#ff0000;
}

#final {
    width: 600px;
    margin: 80px auto;
    text-align: center;
    font: bold 120px Arial, Verdana;
    color: #ff0000;
    text-shadow: 5px 5px #000000;
    -webkit-text-stroke: 4px black;
}